resource_group_name     = "rg-task-manager-student"
location                = "Central India"
static_web_app_location = "East US 2"
static_web_app_name     = "task-manager-student-swa"
acr_name                = "taskmanagerstudentacr"
cosmos_account_name     = "taskmanagerdbakshay"
cosmos_database_name    = "taskmanagerdb"
cosmos_container_name   = "tasks"
backend_api_url         = "https://akshayapp12345-fjatg0aefvgcdpdd.centralindia-01.azurewebsites.net/api/tasks"
